{% extends 'base_layout.html' %}
{% load static %}

{% block auth %}
    <div class="columns is-centered s_dd padding">
        <div class="column is-4">
            <div class="box ">
                <form class="form  has-text-centered" method="post">
                    <h1 class="title is-size-2 has-text-centered">Reset password</h1>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn_hover">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}