{% extends 'base_layout.html' %}
{% load static %}
{% block auth %}
    <section class="section is-medium"></section>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="{% static  'uploads/illustration.png' %}" alt="illustration" class="illustration"/>
                <h1 class="title is-size-2 has-text-left has-text-centered">Sign in</h1>
                <form class="form  has-text-centered" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label has-text-left">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="opacity is-fullwidth">
                        Submit
                    </button>
                    <p class="content mt-3">
                        <span>
                           <a class="register-forget opacity" href="{% url 'users:sign_up' %}">REGISTER</a>
                       </span>
                    </p>
                </form>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
{% endblock %}