{% extends 'base_layout.html' %}
{% load static %}


{% block content %}
    <section class="section is-medium container_nav3">
        <div class="pading p-5">
            <div class="content">
                <h1 class="title textcolor">Корзина</h1>
                {% if cart_items %}
                    <table class="table has-text-centered">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>
                                    <div class="level is-vcentered is-centered">
                                        <a class="level-item" href='{% url 'store:delete_cart_item' item.pk %}'>
                                            <img class="" src="{% static 'Vector 3.svg' %}" alt="">
                                        </a>
                                        <div class="level-item">
                                            <img src="{{ item.product.image.url }}" alt="" width="100" height="100">
                                        </div>

                                    </div>
                                </td>
                                <td class="has-text-left ">
                                    <h1 class="title ml-6 pt-4  has-text-weight-bold is-size-5">{{ item.product.title }}</h1>
                                    <p class="subtitle desc  is-size-6 ml-6">{{ item.product.description }}</p>
                                </td>
                                <td class="has-text-weight-medium is-vcentered textcolor is-size-3 has-text-weight-bold">
                                    {{ item.product.price }}₽</td>
                                <td class="is-vcentered">
                                    <div class="level qwer">
                                        <div class="level-item is-rounded has-text-warning">
                                            <a href="{% url 'store:edit_cart_item' item.id %}?action=take">
                                                <h1 class="title has-text-grey is-size-5 mx-1">-</h1>
                                            </a>
                                        </div>
                                        <div class="level-item has-text-weight-bold has-text-grey is-size-4 mx-4">{{ item.quantity }}</div>
                                        <div class="level-item">
                                            <a href="{% url 'store:edit_cart_item' item.id %}?action=add">
                                                <h1 class="title has-text-grey is-size-5">+</h1>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="is-vcentered textcolor">
                                    <a href="{% url 'store:delete_cart_item' item.pk %}">
                                        <img src="{% static 'uploads/Close.svg' %}" class="close_img" alt="">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>


            <div class=" mb-4 p-4 has-text-weight-bold is-size-4">
                <hr>
                <div class="columns has-text-centered">
                    <div class="column">
                        <div class="columns is-centered is-vcentered">
                            <div class="column">

                            </div>
                            <div class="column is-5">
                                <div class="has-text-grey">
                                    <p class="has-text-weight-bold has-text-black">Сумма заказа:
                                        <span class="is-size-2 textcolor">{{ total_price }}₽</span></p>
                                </div>
                                <br>
                                {% if cart_items %}
                                    <a href="{% url 'store:create_order' %}" class="button btn_desc">
                                        Оформить заказ
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
    </section>
{% endblock %}
