{% extends 'base_layout.html' %}
{% load static %}


{% block content %}
    <section class="section is-medium">
        <div class="container">
            <div class="order_row">
                <div class="row_1">
                    <form method="post" action="{% url 'store:create_order' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="title is-3 textcolor">
                            Заказ на доставку

                        </div>
                        {% for field in form %}
                            <div class="field">
                                <div class="columns ">
                                    <div class="column is-3  ">
                                        <label for="{{ field.id_for_label }}"
                                               class="label has-text-weight-medium">{{ field.label }}</label>
                                    </div>
                                    <div class="column ">{{ field }}</div>
                                </div>
                            </div>
                        {% endfor %}<br>
                        <a href="{% url 'store:cart' %}" class="has-text-grey-light">Назад в корзину</a>
                        <div class="rigthbutton"><br>
                            <a href="{% url 'store:order_success' %}" class=" btn2 has-text-weight-bold ">Оформить заказ на {{ total_price }} ₽</a>
                        </div>
                    </form>
                </div>
                <div class="row_2">
                    <div class="box">
                        <div class="title textcolor is-size-5">Состов заказа</div>
                        <table class="table  has-text-weight-medium is-fullwidth">
                            <tbody>
                            {% for item in cart_items %}
                                <tr>
                                    <td>{{ item }}</td>
                                    <td>${{ item.product.price }}</td>
                                </tr>
                                <tr>
                                    <td>x {{ item.quantity }}</td>
                                    <td>${{ item.total_price }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="is-2 has-text-weight-bold pading">Сумма заказа:
                            <span
                                    class="title is-4" style="padding-left: 4rem"> {{ total_price }} ₽ </span></div>
                        <br>
                        <p class="has-text-centered ">Беспалтная доставка</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}