{% extends 'base_layout.html' %}
{% load static %}


{% block content %}
    <section class="section ">
        <div class="container pading order_section">
            <h1 class="title is-1 textcolor">Заказ получен</h1>
            <p class="subtitle pl-2 is-6 mt-3">Оформление заказа - <span
                    class="has-text-grey-light">Заказ получен</span></p>
        </div>

        <section class="section is-medium">
            <div class="container">
                <div class="columns">
                    <div class="column is-1">
                        <figure class="image succes_obj">
                            <img src="{% static 'uploads/success.gif' %}" alt="sdsd">
                        </figure>
                    </div>
                    <div class="container_nav2 column p-0 mx-0"><br>
                        <p class="title serv pt-3 is-5 textcolor">Заказ успешно оформлен</p>
                        <p class="subtitle serv pt-3 is-6">Мы свяжемся с вами в ближайшее время!</p>
                    </div>
                    <div class="column pt-5 mt-0 my-6 is-4 btn_hover2">
                        <a href="{% url 'store:home' %}">Перейти на главную</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}