{% extends 'base_layout.html' %}
{% load static %}


{% block sale %}
    <section class="section">
        <div class="container padding">
            <div class="columns is-multiline">
                {% for sale in sales %}
                    <div class="column is-4">
                        <div class="box">
                            <figure class="image">
                                <img src="{{ sale.image.url }}" alt="">
                            </figure>
                            <p class="title pt-3 is-5">{{ sale.title }}</p>
                            <p class="subtitle pt-3 is-6">{{ sale.description }}</p>
                            <a href="" class="button s_dd fsd">Посмотреть</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}